<!-- <div class="row">
    <div class="col-12">
        <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">

            <div class="row" *ngIf="authError">
                <div class="col-12 alert alert-danger">{{ authError?.message }}</div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label for="email">Email</label>
                    <input ngModel #email="ngModel" name="email" type="email" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label for="password">Password</label>
                    <input ngModel #password="ngModel" name="password" type="password" class="form-control">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <a href="/signup">Click here to register</a>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
                <div class="col-12">
                    <button class="btn btn-danger" (click)="loginGoogle()">accedi con google</button>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" (click)="loginFacebook()">accedi con facebook</button>
                </div>
            </div>

        </form>
    </div>
</div> -->

{{ authError?.message }}
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
                    <div class="group">
                        <label for="email">Email</label>
                        <input ngModel #email="ngModel" name="email" type="email" class="input">
                    </div>
                    <div class="group">
                        <label for="password">Password</label>
                        <input ngModel #password="ngModel" name="password" type="password" class="input">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                    <div class="hr"></div>
                    <div class="icon">
                        <i class="fab fa-google" (click)="loginGoogle()"></i>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                </form>
            </div>
            <div class="sign-up-htm">
                <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
                    <div class="group">
                        <label for="firstName">Nome</label>
                        <input ngModel #firstname="ngModel" name="firstName" type="text" class="input" id="firstName">
                    </div>
                    <div class="group">
                        <label for="lastName">Cognome</label>
                        <input ngModel #lastname="ngModel" name="lastName" type="text" class="input" id="lastName" value="">
                    </div>
                    <div class="group">
                        <label for="email">Email</label>
                        <input ngModel #email="ngModel" name="email" type="email" class="input">
                    </div>
                    <div class="group">
                        <label for="password">Password</label>
                        <input ngModel #password="ngModel" name="password" type="password" class="input">
                    </div>
                    <div class="group">
                        <label>Confirm Password</label>
                        <input name="password" type="password" class="input">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>