@import '../../../styles.scss';
.masonry-wrapper {
    padding: 1.5em;
    margin-right: auto;
    margin-left: auto;
    //width: 95%;
}

.masonry {
    //width: 100%;
    columns: 1;
    column-gap: 30px;
}

.masonry-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

@media only screen and (max-width: 599px) {
    .masonry {
        columns: 1;
    }
    .masonry-wrapper {
        width: 87%;
    }
}

@media only screen and (max-width: 567px) and (min-width: 500px) {
    .masonry {
        columns: 2;
    }
    .masonry-wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 853px) and (min-width: 768px) {
    .masonry {
        columns: 3;
    }
    .masonry-wrapper {
        width: 93%;
    }
}

@media only screen and (min-width: 854px) {
    .masonry {
        columns: 4;
    }
    .masonry-wrapper {
        width: 95%;
    }
}

.masonry-item,
.masonry-content {
    border-radius: 15px;
    overflow: hidden;
}

.masonry-item:hover {
    filter: drop-shadow(0px 5px 5px white);
}

.masonry-content {
    overflow: hidden;
}

.masonry-item {
    color: #111111;
    background-color: #f9f9f9;
}

.masonry-title,
.masonry-description {
    margin: 0;
}

.masonry-title {
    font-weight: 700;
    font-size: 1.1rem;
    padding: 10px 20px;
    padding-bottom: 5px;
}

.masonry-description {
    padding: 5px 20px;
    font-size: .75rem;
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding-bottom: 0px;
}

//bottoni
.btn {
    text-align: center;
    margin: 0 auto;
}

button {
    margin: 0 auto;
    //position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 210px;
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
}

button span {
    color: #164ca7;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

button:hover {
    animation: rotate 0.7s ease-in-out both;
}

button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

//bottoni
.buttons {
    margin-top: 5px;
}

.buttons>button {
    margin: 10px 10px;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    width: 105px;
    background-color: rgb(161, 214, 231);
    border: 1px solid rgba(22, 76, 167, 0.6);
}

.buttons>button:focus {
    background-color: white;
}

.buttons>.primo {
    margin-left: 50px;
}

.buttons>button span {
    color: #164ca7;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.buttons>button:hover {
    animation: rotate 0.7s ease-in-out both;
}

.buttons>button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

//bottoni nella lista
.bottoni {
    position: initial;
    line-height: 70px;
    float: right;
    margin: 0;
    padding: 0;
}

.bottoni>button {
    background-color: rgb(161, 214, 231);
    //background-color: red;
    width: 35px;
    height: 35px;
    padding: 0;
    border: 0;
    line-height: 50px;
}

img {
    width: 100%;
}

//bottoni sulle card
.share {
    position: relative;
    display: none;
    margin-left: 8px;
    float: left;
    width: 30%;
    height: 40px;
    margin-bottom: -20px;
    margin-top: 8px;
}

.like {
    position: relative;
    display: none;
    margin-right: 8px;
    float: right;
    width: 30%;
    height: 40px;
    margin-bottom: -20px;
    margin-top: 8px;
}

button>span {
    font-size: 25px;
    text-align: center;
    color: black;
    line-height: 35px;
}

.masonry-item:hover .share {
    display: block;
}

.masonry-item:hover .like {
    display: block;
}

.masonry-item:hover .img {
    margin-top: -28px;
}

#more {
    margin-right: 20px;
    float: right;
    font-size: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.ric {
    color: white;
    margin-left: 30px;
}

.vuoto {
    color: white;
    text-align: center;
    margin-top: 160px;
}

.bottonidx .cuoreNero {
    font-size: 26px;
    color: black;
}

.bottonidx .cuoreRosso {
    font-size: 26px;
    color: red;
}

.icon {
    position: relative;
    padding-top: 5px;
    padding-right: 18px;
    float: right;
    cursor: pointer;
}